<div class="container">
  <h2 class="title-lg mb text-center">
    Недавно добавились
  </h2>

  <div class="users-box">
    <% @users.each do |user| %>
      <%= render partial: "users/user_avatar", locals: {user: user} %>
    <% end %>
  </div>
</div>

<div class="container-question">
  <p>
    <% @hashtags.each do |h| %>
      <%= link_to h.name, hashtag_path(h) %> 
    <% end %>
  </p>
</div>

<div>
  <h2 class="title-lg mb container-question text-center">
    <%= inclination(@questions.count, 'Последний', 'Последние', 'Последние') %>
    <%= @questions.count %>
    <%= inclination(@questions.count, "вопрос", "вопроса", "вопросов") %>
  </h2>

  <% @questions.each do |question| %>
    <div class="container-question mb-sm <%= "hide" if question.hidden? %>">
      <p class="mb text-sm text-grey">
        Вопрос <%= link_to "##{question.id}", question_path(question) %>
        для юзера <%= link_to "@#{question.user.nickname}", user_path(question.user) %>
      </p>

      <%= render question %>
    </div>
  <% end %>
</div>
